anaconda-navigator
anaconda-project
argh
asn1crypto
astropy
autopep8
backports.shutil-get-terminal-size
bitarray
bkcharts
bokeh
boto
bottleneck
brotlipy
colorama
conda-build
conda-package-handling
conda-repo-cli
conda-token
conda-verify
contextlib2
cython
cytoolz
distributed
fastapi
fastcache
flake8
gevent
glob2
gmpy2
gradio
gunicorn
h5py
html5lib
importlib-metadata
jdcal
jupyter
jupyterlab
lxml
mkl-fft
mkl-random
mkl-service
mock
module
more-itertools
multipledispatch
mypy-extensions
navigator-updater
nltk
nose
numba
olefile
openpyxl
path
pathlib2
pep8
pickle-mixin
pip-chill
ply
pycurl
pydocstyle
pyodbc
pyopenssl
pysocks
pytest
rope
rtree
scikit-image
seaborn
simplegeneric
singledispatch
sklearn
sortedcollections
sphinxcontrib-websupport
spyder
sqlalchemy
statsmodels
sympy
tables
unicodecsv
uvicorn
virtualenv
xlrd
xlsxwriter
xlwings
xlwt
xmltodict
yapf
